.Square{
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.Square.Dark {
    background-color:#7f5af0;
}

.Square.Light {
    background-color: #fffffe;
} 