.Square{
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.Square:hover{
    box-shadow: 0 0 10px #cbf05a;
}

.Square.Dark {
    background-color:#7f5af0;
}

.Square.Light {
    background-color: #fffffe;
}

.Square.Highlighted {
    background-color: #cbf05a;
    box-shadow: 0 0 4px #cbf05a;
    transition: background-color 0.4s ease;
}

.Square.Legal{
    box-shadow: 0 0 5px #cbf05a,
    0 0 10px #cbf05a,
    0 0 10px #cbf05a,
    0 0 10px #cbf05a;
}

.Square.Attacked {
    box-shadow: 0 0 5px #F05A80,
    0 0 10px #F05A80,
    0 0 10px #F05A80,
    0 0 10px #F05A80;
}

